.container {
    width: 368px;
    height: 792px;
    opacity: 0.5px;
    background: linear-gradient(to bottom, #FEE5C8 0%, #FEE5C8 30px, white 100px, white 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 320px;
    height: 34px;
    position: relative;
    top: 48px;
    left: 24px;
}

.input_header_buscador {
    width: 320px;
    height: 48px;
    position: absolute;
    top: 98px;
    left: 24px;
    border-radius: 0px 16px 0px 16px;
    border: 2px;
    gap: 16px;
    border: 2px solid #BFC0C1
}

.heading_3 {
    font-family: Rubik;
    font-size: 26px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.5px;
    text-align: left;
}

.sientes {
    top: -15px;
}

.input {
    width: 320px;
    height: 48px;
    padding: 0px, 16px 0px 16px;
    border-radius: 0px 16px 0px 16px;
    position: relative;
    border: 2px solid #26262E
}

.heading_4 {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #26262E;
    Width: 320px;
    Height: 32px;
    position: relative;
    align-items: center;
    justify-content: center;
}