/* Button.module.css */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.logo {
  width: 207.64px;
  height: 72px;
  position: absolute;
  top: 176px;
  left: 80px;
  right: 0;
  bottom: 0;
  /* margin: auto; */
}

.texto {
  position: absolute;
  top: 271.63px;
  left: 86px;
  width: 196px;
  height: 31px;
  font-family: Rubik;
  font-size: 26px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: -0.7944336533546448px;
  text-align: center;
}


.registrarse {
  font-family: "Rubik", sans-serif;
}

.continuarconGoogle {
  font-family: "Rubik";
}

.continuarconApple {
  font-family: "Rubik", sans-serif;
}

.iniciarSesion {
  font-family: "Rubik", sans-serif;
}

.btnregistrarse {
  background-color: #FF8E0A;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 80%;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 500px auto auto;
  height: 48px;
}

.btncontinuarconGoogle {
  background-color: white;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  font-family: "Rubik";
  padding: 10px 20px;
  width: 80%;
  border: 2px solid black;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto auto;
  height: 48px;
}

.btncontinuarconApple {
  font-family: "Rubik";
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border: 2px solid black;
  width: 80%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto auto;
  height: 48px;
}

.btniniciarSesion {
  font-family: "Rubik";
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  cursor: pointer;
  width: 80%;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto auto;
  height: 48px;
}


.google {
  width: Fixed (24px);
  height: Fixed (24px);
  margin-right: 10px;
}

.apple {
  width: Fixed (24px);
  height: Fixed (24px);
  margin-right: 10px;
}