@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#root {
  margin: 0;
  max-width: 368px;
  min-height: 100vh;
}



body {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin: 0;
}

.rubik-light {
  font-weight: 300;
}

.rubik-regular {
  font-weight: 400;
}

.rubik-bold {
  font-weight: 700;
}
